<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>about us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <script src='main.js'></script>
</head>
<body>
     {{>header}}

        <div class="higthligh">
        <div class="heading">
          <h1 >ABOUT US</h1>
        </div>
    <h3> SHOE ZONE SINCE 1825 </h3>

<p>Our story started just about 200 years back when Cyrus and James made a shoe from sheepskin off-cuts. At the time it was notable; a mix of development and craftsmanship that is stayed at the core of what we do.

Furthermore, while now, as usual, each match of our shoes starts with a last cut by hand from a solitary square of hornbeam, propelled development strategies, innovations and contemporary materials enable us to convey flawlessness customized for the cutting edge world.</p>

<h3>
 PIONEERS and INNOVATORS</h3>

From the earliest starting point we’ve generally thought in an unexpected way. What’s more, done things another way as well.

From the shoe made by Cyrus and James in 1825 to the world’s first foot-molded shoe; from our children’s reaches in entire sizes, half sizes and a selection of widths to our best in class iPad foot check; from inventive underneath padding to quick prototyping and 3D printing, splendid thoughts are what separate us.

<h3>SHOE EXPERTS</h3>

Leonardo da Vinci depicted the human foot as “an artful culmination of designing and a show-stopper”. Furthermore, to ensure we can care for it superior to any other person, we’ve considered it. From the support to seniority. We’ve taken a gander at the manner in which it creates.

We’ve examined its biomechanics, the manner in which it moves at work, rest and play. We’ve thought on the stuff to keep feet solid and glad. Also, what we’ve learned is the thing that encourages us make the ideal shoes for you.

<h3>Notable FOOTWEAR</h3>

In our file of more than 22,000 ‘Organization Name’ styles are shoes that have started an insurgency, characterized an age and caught the creative energy. Like the notable ‘Organization Name’ Desert Boot. Planned by Nathan , propelled in 1950, its intrigue perseveres right up ’til the present time</p>
    </div>
          <div class="farm">


          </div>
    </div>



    {{>footer}}
</body>
</html>